@import url('https://fonts.googleapis.com/css?family=Rokkitt');





body {
	font-family: Rokkitt, serif;
	background-color: #FFFFFF;
	font-size:45pt;
	cursor: pointer;
	line-height: 250px;
	height:auto;
}


.maintext{
	color:#000000;
    width: 750px;
    height: auto;
    padding: 50px;
    text-align: left;
    position: relative;
    overflow: hidden;
    top:350px;
    left:150px;
}


.hideme
{
    opacity:0;
}



.letter {
  display: inline-block;
  position: relative;
  animation-delay:2s;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  animation-delay:2s;
  transform: rotateX(90deg);
  transition: transform 1s ;
}

.letter.behind {
  animation-delay:2s;
  transform: rotateX(-90deg);
}

.letter.in {
  animation-delay:2s;
  transform: rotateX(0deg);
  transition: transform 2s;
}



.line1{
    color: #000000;
}

.line2{
    color: #000000;
}


.line3{
    color: #000000;;
}

.line4{
    color: #000000;
}

.line5{
    color: #000000;
}

.line6{
    color: #000000;
}

.line7{
    color: #000000;
}


.line8{
    color: #000000;
}


.footer{
    color: #c0c0c0;
    font-size: 25pt;
}

